<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
>
<body>
	<!-- Main -->
	<div class="content" layout:fragment="content">
		<!-- content -->
		<div class="row">
			<!-- main col left -->
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Actions</h4>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<a href="/ui/admin/users" class="list-group-item" wicket:id="userAdminLink">Manage Users</a> <a
								href="/ui/admin/roles" class="list-group-item"
							>Manage Roles</a> <a href="/ui/admin/config" class="list-group-item">Configure Corolla</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/row-->
</body>
</html>