<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<body>
	<!-- Main -->
	<div layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
		<ol class="breadcrumb">
			<li><a th:href="@{/ui/admin}"><i class="fa fa-gear" /> Administration</a></li>
			<li class="active">Groups</li>
		</ol>
		</section>
		<div class="content">
			<!-- content -->
			<div class="row">
				<!-- main col left -->
				<div class="col-sm-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title" />
							<div style="max-width: 80%;" class="pull-left">
								<div th:replace="modal :: helpbox('Click on a user group below to view or edit its information. Click on the \'Add\' button to create a new user group.')"></div>
							</div>
							<div class="pull-right nav-tabs-custom">
								<ul class="nav nav-tabs">
									<li><a th:href="@{/ui/admin/groups/add}" class="btn btn-app"> <i class="glyphicon glyphicon-plus" />
											Add
									</a></li>
								</ul>
							</div>
						</div>
						<!-- /.box-header -->
						<!-- /.container-fluid -->
						<div class="table-responsive" style="padding: 10px;">
							<table class="table table-hover table-striped datatable" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Name</th>
										<th>Users</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tr th:each="group : ${groups}" th:attr="data-id=${group.id}">
									<td><a th:href="@{'/ui/admin/groups/edit/'+${group.id}}" th:text="${group.name}">Group 1</a></td>
									<td><span th:text="${#lists.size(group.userIds)}">16</span></td>
									<td><a th:href="@{'/ui/admin/groups/edit/'+${group.id}}" class="btn btn-primary btn-xs" data-title="Edit"
										data-toggle="modal"> <span class="glyphicon glyphicon-pencil" />
									</a></td>
									<td>
										<button class="btn btn-danger btn-xs groupDelete" data-title="Delete this role">
											<span class="glyphicon glyphicon-trash" />
										</button>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div />
	<!--/row-->
	<div layout:fragment="footer">
		<script type="text/javascript" src="../../static/js/modules/roles.js" th:src="@{/js/modules/group.js}" />
		<script type="text/javascript">
			$(document).ready(initGroupsView);
		</script>
	</div>
</body>
</html>