<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<body>
	<!-- Main -->
 	<div layout:fragment="content">
 
  		<!-- Content Header (Page header) -->
	    <section class="content-header">
		    <ol class="breadcrumb">
		       <li><a th:href="@{/ui/admin}"><i class="fa fa-gear"></i> Administration</a></li>
		       <li class="active">Item types</li>
		    </ol> 
	    </section>


		<!-- Main -->
		<div class="content">
			<div class="row">
	            <div class="col-xs-12">
	              	<div class="box">
	              	
		                <div class="box-header">
		                  <h3 class="box-title"></h3>
		                  <div style="max-width: 80%;" class="pull-left">
		                  	<div th:replace="modal :: helpbox('In this panel you can manage item types. Click on the \'Edit\' button of a type to edit its information or on the \'Configure\' button to configure the custom fields of the type. Click on the \'Add\' button to define a new item type.')"></div>
		                  </div>
		                  <div class="box-tools nav-tabs-custom">
		                  	<ul class="nav nav-tabs">
		                  		<li>
			                  		<a href="#" class="btn btn-app">
										<i class="glyphicon glyphicon-plus"></i>
										Add
									</a>
		                  		</li>
		                  	</ul>			
		                  </div>
		                </div><!-- /.box-header -->
		                
		                <div class="box-body table-responsive">
					      <table id="items-table" class="table table-hover table-striped" cellspacing="0" width="100%">
					       <thead>
					        <tr>
					         <th>Icon</th>
					         <th>Key</th>
					         <th>Name</th>
					         <th>Enabled</th>
					         <th></th>
					         <th></th>
					        </tr>
					       </thead>
					       <tr data-id="REQ">
					       		<td><i class="fa fa-bell"></i></td>
					       		<td>REQ</td>
					       		<td>Requirement</td>
					       		<td>
					       			<a href="#" class="label label-info">enabled</a>
					       		</td>
					       		<td>
					       			<a th:href="@{/ui/admin/items/edit}" class="btn btn-primary btn-xs">
					       				<span class="glyphicon glyphicon-pencil" />
					       				Edit
					       			</a>
					       		</td>
					       		<td>
					       			<a th:href="@{/ui/admin/items/config}" class="btn btn-success btn-xs">
					       				<span class="glyphicon glyphicon-wrench" />
					       				Configure
					       			</a>
					       		</td>
					       		<td>
					       			<button class="btn btn-danger btn-xs itemDelete">
					       				<span class="glyphicon glyphicon-trash"></span>
					       				Delete
					       			</button>
					       		</td>
					       </tr>
					       <tr data-id="US" class="danger">
					       		<td><i class="fa fa-bed"></i></td>
					       		<td>US</td>
					       		<td>User Story</td>
					       		<td>
					       			<a href="#" class="label label-warning">disabled</a>
					       		</td>
					       		<td>
					       			<a th:href="@{/ui/admin/items/edit}" class="btn btn-primary btn-xs">
					       				<span class="glyphicon glyphicon-pencil" />
					       				Edit
					       			</a>
					       		</td>
					       		<td>
					       			<a th:href="@{/ui/admin/items/config}" class="btn btn-success btn-xs">
					       				<span class="glyphicon glyphicon-wrench" />
					       				Configure
					       			</a>
					       		</td>
					       		<td>
					       			<button class="btn btn-danger btn-xs itemDelete">
					       				<span class="glyphicon glyphicon-trash"></span>
					       				Delete
					       			</button>
					       		</td>
					       </tr>
					      </table>
	     				</div>
    				</div>
   				</div>
   			</div>
   		</div>
   	</div>

	 <div layout:fragment="footer">
	  	<script type="text/javascript" src="../../static/js/modules/items.js" th:src="@{/js/modules/items.js}" />
	  	<script type="text/javascript">
	  		$(document).ready(initItemsView);
	  	</script>
	 </div>
	 
</body>
</html>