<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<body>
 <!-- Main -->
 <div class="content" layout:fragment="content">
  <!-- content -->
  <div class="row">
   <!-- main col left -->
   <div class="col-sm-12">
    <div class="panel panel-default">
     <div class="panel-heading">
      <h4>Manage Roles</h4>
      <i>Click on a role name below to view or edit role details. Click 'Defines a new Role' to add a role</i>
     </div>
     <nav class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar" /> <span class="icon-bar" /> <span class="icon-bar" />
       </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <div class="btn-compose pull-left">
        <a type="button" href="/ui/admin/roles/add" class="btn btn-danger navbar-btn"> <span class="glyphicon glyphicon-pencil" /> Defines a new Role
        </a>
       </div>
      </div>
      <!-- /.navbar-collapse -->
     </div>
     <!-- /.container-fluid --> </nav>
     <div class="table-responsive">
      <table id="roles" class="table table-hover table-striped" cellspacing="0" width="100%">
       <thead>
        <tr>
         <th>Rolename</th>
         <th>Note</th>
         <th>Default Role</th>
         <th>Protected</th>
         <th>Edit</th>
         <th>Delete</th>
         <th>Duplicate</th>
        </tr>
       </thead>
       <tr th:each="role : ${roles}" th:attr="data-id=${role.id}" th:class="${!role.roleProtected ? '' : 'warning'}">
        <td><a data-toggle="tooltip" title="Edit this user" th:href="@{'/ui/admin/roles/edit/' + ${role.id}}" th:text="${role.name}">name</a></td>
        <td th:text="${role.note}" />
        <td><span class="label label-info" th:if="${role.defaultRole}">default role</span> <a th:href="@{'/ui/admin/roles/default/' + ${role.id}}" th:if="${!role.defaultRole}">
          <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit">Set as default</button>
        </a></td>
        <td><i th:if="${role.roleProtected}" class="glyphicon glyphicon-lock center-block" /></td>
        <td>
        	<a th:if="${!role.roleProtected}" th:href="@{'/ui/admin/roles/edit/' + ${role.id}}" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"> 
        		<span class="glyphicon glyphicon-pencil" />
        	</a>
        </td>
        <td ><p data-placement="top" data-toggle="tooltip" title="Delete this role">
          <button class="btn btn-danger btn-xs roleDelete" data-title="Delete this role">
           <span class="glyphicon glyphicon-trash"></span>
          </button>
         </p></td>
        <td><a th:href="@{'/ui/admin/roles/duplicate/' + ${role.id}}" data-placement="top" data-toggle="tooltip" title="Duplicate this role" class="btn btn-default btn-xs" data-title="Duplicate"> <span class="glyphicon glyphicon-copy" />
        </a></td>
       </tr>
       <tfoot>
        <tr>
         <th>Rolename</th>
         <th>Note</th>
         <th>Default Role</th>
         <th>Protected</th>
         <th>Edit</th>
         <th>Delete</th>
         <th>Duplicate</th>
        </tr>
       </tfoot>
      </table>
      <!-- include modal deletion -->
      <div th:replace="modal :: deleteModal" />
     </div>
    </div>
   </div>
  </div>
 </div>
 <!--/row-->
 <div layout:fragment="footer">
  	<script type="text/javascript" src="../../static/js/modules/roles.js" th:src="@{/js/modules/roles.js}" />
  	<script type="text/javascript">
            $(document).ready(roleTable);
	</script>
 </div>
</body>
</html>