<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<body>
	<!-- Main -->
	<div layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
		<ol class="breadcrumb">
			<li><a th:href="@{/ui/admin}"><i class="fa fa-gear" /> Administration</a></li>
			<li class="active">Roles</li>
		</ol>
		</section>
		<div class="content">
			<!-- content -->
			<div class="row">
				<!-- main col left -->
				<div class="col-sm-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title" />
							<div style="max-width: 80%;" class="pull-left">
								<div th:replace="modal :: helpbox('Click on a role below to view or edit its associated permissions. Click on the \'Add\' button to define a new role.')"></div>
							</div>
							<div class="pull-right nav-tabs-custom">
								<ul class="nav nav-tabs">
									<li><a th:href="@{/ui/admin/roles/add}" class="btn btn-app"> <i class="glyphicon glyphicon-plus" />
											Add
									</a></li>
								</ul>
							</div>
						</div>
						<!-- /.box-header -->
						<!-- /.container-fluid -->
						<div class="table-responsive" style="padding: 10px;">
							<table id="roles" class="table table-hover table-striped" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Rolename</th>
										<th>Note</th>
										<th>Default Role</th>
										<th>Protected</th>
										<th>Edit</th>
										<th>Delete</th>
										<th>Duplicate</th>
									</tr>
								</thead>
								<tr th:each="role : ${roles}" th:attr="data-id=${role.id}" th:class="${!role.roleProtected ? '' : 'warning'}">
									<td><a data-toggle="tooltip" title="Edit this user" th:href="@{'/ui/admin/roles/edit/' + ${role.id}}"
										th:text="${role.name}">name</a></td>
									<td th:text="${role.note}" />
									<td><span class="label label-info" th:if="${role.defaultRole}">default role</span> <a
										th:href="@{'/ui/admin/roles/default/' + ${role.id}}" th:if="${!role.defaultRole}">
											<button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit">Set
												as default</button>
									</a></td>
									<td><i th:if="${role.roleProtected}" class="glyphicon glyphicon-lock center-block" /></td>
									<td><a th:if="${!role.roleProtected}" th:href="@{'/ui/admin/roles/edit/' + ${role.id}}"
										class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"> <span
											class="glyphicon glyphicon-pencil" />
									</a></td>
									<td>
										<p data-placement="top" data-toggle="tooltip" title="Delete this role">
											<button th:if="${!role.roleProtected and !role.defaultRole}" class="btn btn-danger btn-xs roleDelete"
												data-title="Delete this role">
												<span class="glyphicon glyphicon-trash" />
											</button>
										</p>
									</td>
									<td><a th:href="@{'/ui/admin/roles/duplicate/' + ${role.id}}" data-placement="top" data-toggle="tooltip"
										title="Duplicate this role" class="btn btn-default btn-xs" data-title="Duplicate"> <span
											class="glyphicon glyphicon-copy" />
									</a></td>
								</tr>
								<tfoot>
									<tr>
										<th>Rolename</th>
										<th>Note</th>
										<th>Default Role</th>
										<th>Protected</th>
										<th>Edit</th>
										<th>Delete</th>
										<th>Duplicate</th>
									</tr>
								</tfoot>
							</table>
							<!-- include modal deletion -->
							<div th:replace="modal :: deleteModal" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div />
	<!--/row-->
	<div layout:fragment="footer">
		<script type="text/javascript" src="../../static/js/modules/roles.js" th:src="@{/js/modules/roles.js}" />
		<script type="text/javascript">
			$(document).ready(roleTable);
		</script>
	</div>
</body>
</html>