<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<body>
 <!-- Main -->
 <div class="content" layout:fragment="content">
  <!-- content -->
  <div class="row">
   <!-- main col left -->
   <div class="col-sm-12">
    <div class="panel panel-default">
     <div class="panel-heading">
      <h4>User details</h4>
      <h3 th:text="${user.firstName + ' ' + user.lastName}">Sylvain Leroy</h3>
     </div>
     <div class="panel-body">
      <div class="row">
       <div class="col-md-3">
        <div class="thumbnail">
         <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg" th:src="'http://www.gravatar.com/avatar/'+ ${user.gravatar} + '?s=200'" alt="" class="img-rounded img-responsive" />
        </div>
       </div>
       <div class="col-md-9">
        <form class="form-horizontal" th:object="${user}" th:attr="action=@{${user.login.isEmpty()} ? '/ui/admin/users/add' : '/ui/admin/users/edit/' + ${user.login}}" method="post" id="form">
         <ul class="bg-danger" th:if="${#fields.hasErrors('global')}">
          <li th:each="err : ${#fields.errors('global')}" class="text-danger" th:text="${err}">Input is incorrect</li>
         </ul>
         <p th:if="${#fields.hasErrors('all')}" th:errors="*{all}" class="bg-danger">Incorrect date</p>
         <fieldset>
          <input type="hidden" name="id" id="id" th:value="${user.id}" />
          <!-- Text input-->
          <div class="form-group">
           <label class="col-md-2 control-label" for="login">Login</label>
           <div class="col-md-4">
            <input id="login" name="login" placeholder="jdoe" class="form-control input-md" required="required" data-parsley-trigger="focusin focusout change" data-parsley-range="[3, 30]" type="text" th:field="*{login}" disabled="" th:if="${user.id != null}"></input> <input id="login" name="login" placeholder="jdoe" class="form-control input-md" required="required"
             data-parsley-trigger="focusin focusout change" data-parsley-range="[3, 30]" type="text" th:field="*{login}" th:if="${user.id == null}"
            ></input>
           </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
           <label class="col-md-2 control-label" for="firstName">First name</label>
           <div class="col-md-6">
            <input id="firstName" name="firstName" placeholder="John" class="form-control input-md" type="text" data-parsley-trigger="focusin focusout change" required="required" data-parsley-range="[2, 40]" th:field="*{firstName}"></input>
           </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
           <label class="col-md-2 control-label" for="lastName">Last name</label>
           <div class="col-md-6">
            <input id="lastName" name="lastName" placeholder="Doe" class="form-control input-md" type="text" data-parsley-trigger="focusin focusout change" required="required" data-parsley-range="[2, 40]" data-parsley-maxlength-message="Firstname should be max 40 characters" th:field="*{lastName}"></input>
           </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
           <label class="col-md-2 control-label" for="email">Email</label>
           <div class="col-md-6">
            <div class="input-group">
             <div class="input-group-addon">@</div>
             <input id="email" name="email" placeholder="john.doe@company.org" class="form-control input-md" data-parsley-trigger="focusin focusout change" required="true" type="email" th:field="*{email}"></input>
            </div>
           </div>
          </div>
          <!-- Password input-->
          <div class="form-group">
           <label class="col-md-2 control-label" for="password">Password</label>
           <div class="col-md-4">
            <input data-parsley-range="[2, 256]" id="password" name="password" placeholder="password" data-parsley-trigger="focusin focusout change" class="form-control input-md" required="required" type="password" th:field="*{password}"></input>
           </div>
          </div>
          <!-- Password input-->
          <div class="form-group">
           <label class="col-md-2 control-label" for="passwordConfirm">Confirm your password</label>
           <div class="col-md-4">
            <input data-parsley-range="[2, 256]" id="passwordConfirm" name="passwordConfirm" required="required" data-parsley-trigger="focusin focusout change" placeholder="" class="form-control input-md" type="password" th:field="*{passwordConfirm}"></input>
           </div>
          </div>
          <!-- Select Role -->
          <div class="form-group">
           <label class="col-md-2 control-label" for="role">Role</label>
           <div class="col-md-5">
            <select id="role" name="role" class="form-control" th:field="*{roleId}" required="required" data-parsley-trigger="focusin focusout change">
             <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}">Wireframe</option>
            </select>
           </div>
          </div>
          <!-- Select Basic -->
          <div class="form-group">
           <label class="col-md-2 control-label" for="Locale">Locale</label>
           <div class="col-md-4">
            <select id="Locale" name="Locale" class="form-control" th:field="*{locale}" required="required" data-parsley-trigger="focusin focusout change">
             <option value="fr">French</option>
             <option value="en">English</option>
            </select>
           </div>
          </div>
          <!-- Multiple Checkboxes (inline) -->
          <div class="form-group">
           <label class="col-md-2 control-label" for="active">Active</label>
           <div class="col-md-4">
            <select id="Active" name="Active" class="form-control" th:field="*{active}" required="required" data-parsley-trigger="focusin focusout change">
             <option value="false">Disabled</option>
             <option value="true">Enabled</option>
            </select>
           </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
           <label class="col-md-2 control-label" for="activationToken">Activation Token</label>
           <div class="col-md-6">
            <input id="activationToken" name="activationToken" placeholder="" class="form-control input-md activationToken" type="text" data-parsley-trigger="focusin focusout change" th:field="*{activationToken}"></input>
           </div>
           <div class="col-md-3">
            <a href="#" id="generateTokenButton" name="generateTokenButton" class="btn btn-info generateTokenButton">Generate</a>
           </div>
          </div>
          <!-- Button (Double) -->
          <div class="form-group">
           <label class="col-md-2 control-label" for="saveButton"></label>
           <div class="col-md-2">
            <a href="/ui/admin/users" id="cancelButton" name="cancelButton" class="btn btn-default">Cancel</a>
           </div>
           <div class="col-md-2">
            <button id="saveButton" name="saveButton" class="btn btn-success">Save</button>
           </div>
          </div>
         </fieldset>
        </form>
       </div>
       <!-- end col -->
      </div>
      <!-- end col -->
     </div>
    </div>
   </div>
  </div>
 </div>
 <!--/row-->
 <div layout:fragment="footer">
  	<script type="text/javascript" src="../../static/js/modules/users.js" th:src="@{/js/modules/users.js}"></script>
  	<script type="text/javascript">
			initFormUserEdit()
	</script>
 </div>
</body>
</html>