<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
 
	<ul class="sidebar-menu" th:fragment="mainMenu" th:if="${#httpServletRequest.remoteUser != null}">
		
		<li class="header">
			PORTFOLIO
		</li>
		
		<li th:classappend="${menu} == 'portfolio' ? 'active'">
			<a href="/ui/portfolio">
				<i class="glyphicon glyphicon-book"></i> 
				<span>Portfolio</span>
			</a>
		</li>
		<li th:classappend="${menu} == 'portfolioManager' ? 'active'">
			<a href="/ui/portfolio/manager">
				<i class="fa fa-wrench"></i> 
				<span>Portfolio Management</span>
			</a>
		</li>
		
		<li class="header" th:if="${project != null}">
			PROJECT MANAGEMENT
		</li>
		
		<li th:if="${project != null}" th:classappend="${menu} == 'projectDetails' ? 'active'">
			<a th:href="@{/ui/projects/}+${project.key}" class="border-red">
				<i class="fa fa-info"></i> 
				<span>Project details</span>
			</a>
		</li>
		<li th:if="${project != null}">
			<a th:href="@{/ui/projects/}+${project.key}+@{#branches}">
				<i class="fa fa-share-alt"></i> 
				<span>Branches</span>
			</a>
		</li>
		<li th:if="${project != null}">
			<a th:href="@{/ui/projects/}+${project.key}+@{#activity}">
				<i class="fa fa-history"></i> 
				<span>Activity</span>
			</a>
		</li>	
		<li th:if="${project != null}" th:classappend="${menu} == 'requirements' ? 'active'">
			<a th:href="@{/ui/requirements/}+${project.key}">
				<i class="glyphicon glyphicon-duplicate"></i> 
				<span>Requirements</span>
			</a>
		</li>
		<li th:if="${project != null}">
			<a href="#">
				<i class="fa fa-flask"></i> 
				<span>Test Cases</span>
			</a>
		</li>
		<li th:if="${project != null}">
			<a href="#">
				<i class="glyphicon glyphicon-ok"></i> 
				<span>Test Campaigns</span>
			</a>
		</li>
		<li th:if="${project != null}" th:classappend="${menu} == 'releases' ? 'active'">
			<a th:href="@{/ui/releases/}+${project.key}">
				<i class="glyphicon glyphicon-tags"></i> 
				<span>Releases</span>
			</a>
		</li>
		<li th:if="${project != null}" th:classappend="${menu} == 'variables' ? 'active'">
			<a th:href="@{/ui/variables/}+${project.key}">
				<i class="glyphicon glyphicon-text-color"></i> 
				<span>Variables</span>
			</a>
		</li> 
		
		<li class="header" th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
			ADMINISTRATION
		</li>
		
		<li class="treeview"  th:classappend="${menu} == 'admin' ? 'active'" th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
	        <a href="/ui/admin">
	          <i class="glyphicon glyphicon-cog"></i>
	          <span>Administration</span> 
	          <i class="fa fa-angle-left pull-right"></i>
	        </a>
	        <ul class="treeview-menu">
	          <li>
	          	<a href="/ui/admin/users">
	          		<i class="glyphicon glyphicon-user"></i>
					Users 
			  	</a>
			  </li>
			  <li>
	          	<a href="/ui/admin/groups">
	          		<i class="fa fa-group"></i>
					User Groups
			  	</a>
			  </li>
	          <li>
		  		<a href="/ui/admin/roles"> 
		  			<i class="glyphicon glyphicon-lock"></i> 
		  			Roles
		  		</a>
		 	 </li>
		 	 <li>
			  	<a href="/ui/admin/items"> 
			  		<i class="glyphicon glyphicon-duplicate"></i> 
			  		Items
			  	</a>
			  </li>
			  <li>
			  	<a href="/ui/admin/relationships"> 
			  		<i class="glyphicon glyphicon-transfer"></i> 
			  		Relationships
			  	</a>
			  </li>
			  <li>
			  	<a href="/ui/admin/project-categories"> 
			  		<i class="fa fa-flag"></i> 
			  		Project categories
			  	</a>
			  </li>	
			  <li>
			  	<a href="/ui/admin/folder-node-types"> 
			  		<i class="fa fa-folder-open"></i> 
			  		Folder node types
			  	</a>
			  </li>	
			  <li th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN_CONFIG')}">
			  	<a href="/ui/admin/config"> 
			  		<i class="glyphicon glyphicon-wrench"></i> 
			  		Configuration
			  	</a>
			  </li>	
	        </ul>
      	</li>
	 </ul>

</body>
</html>