<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<body>

	<!-- start: Delete Item Modal -->
	<div th:fragment="deleteModal" class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="myModalLabel">Warning!</h3>
				</div>
				<div class="modal-body">
					<h4>Are you sure you want to DELETE?</h4>
				</div>
				<!--/modal-body-collapse -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" id="btnModalYes" href="#">Yes</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
				<!--/modal-footer-collapse -->
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	
	<!-- Change Project Modal -->
	<div th:fragment="changeProjectModal" id="modal-change-project" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              	<span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Change project</h4>
            </div>
            <div class="modal-body">
              <div class="change-project-treeview"></div>
            </div>
            <div class="modal-footer">
				<a type="button" class="btn btn-primary" th:href="@{/ui/portfolio}">Portfolio</a>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			<!--/modal-footer-collapse -->
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	
</body>
</html>