<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
>
<body>
	<!-- Main -->
	<div layout:fragment="content">
	
		<!-- Content Header (Page header) -->
	    <section class="content-header">    
	      	<ol class="breadcrumb">	      		
	        	<li>
		        	<a th:href="@{/ui/portfolio/manager/}+${project.key}">
						<i class="glyphicon glyphicon-book" />
						<span th:text="${project.name}">Project</span>
					</a>
	        	</li>
	        	<li class="active">Revisions</li>
	      	</ol>
	    </section>

		<!-- Main -->
		<div class="content">
			<div class="row">
	            <div class="col-xs-12">
	              <div class="box">
	                <div class="box-header">
	                  <h3 class="box-title"></h3>
	                  <div class="box-tools">
							<a href="#" class="btn btn-warning"><i class="fa fa-arrow-left" style="padding-right: 8px;"></i>Return</a>
	                  </div>
	                </div><!-- /.box-header -->
	                <div class="box-body table-responsive no-padding">
	                  <table class="table table-hover table-bordered revisions-comparison">
	                    <tr>
	                    	<td></td>
	                      	<td th:if="${previousCommit != null}">
	                      		<h3>Version <span th:text="${previousCommit.getId()}"></span></h3>	      
	                      		<b class="commit-msg"></b> <br/>              		
	                      		<span class="label label-success time">
	                      			<i class="fa fa-clock-o"></i>
	                      			<span th:text="${#dates.format(previousCommit.getDate(), 'dd/MM/yyyy HH:mm')}"></span>
	                      		</span>
	                      		<span class="label label-primary author">
	                      			<i class="fa fa-user"></i><span th:text="${previousCommit.getAuthor()}"></span>
	                      		</span>
	                      	</td>
	                      	<td>
	                      		<h3>Version <span th:text="${commit.getId()}"></span></h3>	      
	                      		<b class="commit-msg"></b> <br/>              		
	                      		<span class="label label-success time">
	                      			<i class="fa fa-clock-o"></i>
	                      			<span th:text="${#dates.format(commit.getDate(), 'dd/MM/yyyy HH:mm')}"></span>
	                      		</span>
	                      		<span class="label label-primary author">
	                      			<i class="fa fa-user"></i><span th:text="${commit.getAuthor()}"></span>
	                      		</span>
	                      	</td>
	                    </tr>
	                    <tr th:each="change : ${changes}">
	                    	<td><b th:text="${change.getPropertyName()}"></b></td>
	                    	<td th:if="${previousCommit != null}" th:text="${changeFormatter.format(change, 'L')}"></td>
	                    	<td class="updated" th:text="${changeFormatter.format(change, 'R')}"></td>
	                    </tr>
	                  </table>
	                </div><!-- /.box-body -->
	              </div><!-- /.box -->
	            </div>
	          </div>
		</div>
	</div>
</body>
</html>