<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<body>
	<!-- Main -->
	<div layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
		<h1>
			<i class="glyphicon glyphicon-text-color"></i> 
			<span>Variables</span>
		</h1>
		<ol class="breadcrumb">
			<li><a th:href="@{/ui/potfolio}"><i class="fa fa-book" /> Portfolio</a></li>
			<li><a th:href="@{/ui/potfolio/komea-rest-api}"> Komea-rest-api</a></li>
			<li class="active">Variables</li>
		</ol>
		</section>
		<!-- content -->
		<div class="content">
			<div class="row">
				<!-- main col left -->
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title" />
							<div class="pull-right nav-tabs-custom">
								<ul class="nav nav-tabs">
									<li>
										<a href="#" class="btn btn-app" data-toggle="modal" data-target="#modal-form-var"> 
											<i class="glyphicon glyphicon-plus" />
											Add
										</a>
									</li>
									<li><a th:href="@{/ui/admin/users/add}" class="btn btn-app"> <i class="glyphicon glyphicon-filter" />
											Filter
									</a></li>
								</ul>
							</div>
							<br style="clear: both;"/>
						</div>
						<!-- /.box-header -->
						<div class="table-responsive" style="padding: 10px;">
							<table id="variables" class="table table-hover table-striped" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Key</th>
										<th>Value</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tr>
									<td>VAR_1</td>
									<td>My value</td>
									<td><a href="#" data-placement="top" data-toggle="tooltip" title="Edit">
											<button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#modal-form-var">
												<span class="glyphicon glyphicon-pencil" />
											</button>
									</a></td>
									<td>
										<p data-placement="top" data-toggle="tooltip" title="Delete">
											<button class="btn btn-danger btn-xs userDelete" data-title="Delete">
												<span class="glyphicon glyphicon-trash" />
											</button>
										</p>
									</td>
								</tr>
								<tr>
									<td>LOREM_IPSUM</td>
									<td>Montius nos tumore inusitato quodam et novo ut rebellis et maiestati recalcitrantes Augustae per haec
										quae strepit incusat iratus nimirum quod contumacem praefectum, quid rerum ordo postulat ignorare
										dissimulantem formidine tenus iusserim custodiri.</td>
									<td><a href="#" data-placement="top" data-toggle="tooltip" title="Edit">
											<button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#modal-form-var">
												<span class="glyphicon glyphicon-pencil" />
											</button>
									</a></td>
									<td>
										<p data-placement="top" data-toggle="tooltip" title="Delete">
											<button class="btn btn-danger btn-xs userDelete" data-title="Delete">
												<span class="glyphicon glyphicon-trash" />
											</button>
										</p>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- Change Project Modal -->
			<div id="modal-form-var" class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">Create a new variable</h4>
						</div>
						<div class="modal-body">
							<form id="varForm" method="post" class="project-form" action="">
								<div class="row form-row">
									<div class="col-sm-3 col-md-2">
										<span class="">Key</span>
									</div>
									<div class="col-sm-9 col-md-10">
										<input name="key" type="text" class="form-control" placeholder="Key" />
									</div>
								</div>
								<div class="row form-row">
									<div class="col-sm-3 col-md-2">
										<span class="">Value</span>
									</div>
									<div class="col-sm-9 col-md-10">
<!-- 										<input name="value" type="text" class="form-control" placeholder="Value" /> -->
										<textarea name="value"></textarea>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<input type="submit" class="btn btn-primary" value="Save"/>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
						<!--/modal-footer-collapse -->
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
		</div>
	</div>
	<!--/row-->
	<div layout:fragment="footer">
		<script type="text/javascript" src="../../static/js/modules/project.js" th:src="@{/js/modules/variables.js}" />
		<script type="text/javascript">
			$(document).ready(initVarTable);
		</script>
	</div>
</body>
</html>