<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
>
<body>
	
	<div layout:fragment="content">
	
		<!-- Content Header (Page header) -->
	    <section class="content-header">
		    <h1>
		    	Portfolio
				<small>Control panel</small>
		    </h1>
		    <ol class="breadcrumb">
		       <li><a href="#"><i class="glyphicon glyphicon-book"></i> Portfolio</a></li>
		       <li class="active">Komea Dashboard</li>
		    </ol> 
	    </section>


		<!-- Main -->
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="panel panel-primary treeview-box resizable">
<!-- 						<div class="panel-heading"> -->
<!-- 							<h4>Favorite products</h4> -->
<!-- 						</div> -->
						<div>
							<div>
								<ul class="wysihtml5-toolbar" style="margin: 5px;">
									<li class="dropdown">
										<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
											Add <b class="caret"></b>
										</a>
										<ul class="dropdown-menu">
											<li><a href="#">Folder</a></li>
											<li><a href="#">Project</a></li>
										</ul>
									</li>
									<li>
										<a href="#" class="btn btn-default">
											<span class="glyphicon glyphicon-filter"></span>
										</a>
									</li>
									<li style="width: 70%;">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="glyphicon glyphicon-search"></i>
											</span>
											<input class="form-control" type="text" placeholder="Search" style="width: 100%;"></input>
										</div>
									</li>
								</ul>
							</div>
							<div class="projects-tree-view"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-8">
					<div class="nav-tabs-custom">
	                <ul class="nav nav-tabs">
	                  <li class="active"><a href="#tab_2" data-toggle="tab">Details</a></li>
	                  <li><a href="#tab_1" data-toggle="tab">Projects</a></li>
	                  <li><a href="#tab_3" data-toggle="tab">Activity</a></li>
	                  <li class="pull-right dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                      Actions <span class="caret"></span>
	                    </a>
	                    <ul class="dropdown-menu">
	                      <li role="presentation">
	                      	<a role="menuitem" tabindex="-1" th:href="@{/ui/projects/komea-dashboard}">
	                      		<i class="glyphicon glyphicon-list-alt"></i>
	                      		Manage requirements
	                      	</a>
	                      </li>
	                      <li role="presentation" class="divider"></li>
	                      <li role="presentation">
	                      	<a role="menuitem" tabindex="-1" href="#">
	                      		<i class="glyphicon glyphicon-flash"></i>
	                      		Manage test cases
	                      	</a>
	                      </li>
	                      <li role="presentation" class="divider"></li>
	                      <li role="presentation">
	                      	<a role="menuitem" tabindex="-1" href="#">
	                      		<i class="glyphicon glyphicon-inbox"></i>
	                      		Archive project
	                      	</a>
	                      </li>
	                      <li role="presentation" class="divider"></li>
	                      <li role="presentation">
	                      	<a role="menuitem" tabindex="-1" href="#">
	                      		<i class="glyphicon glyphicon-remove"></i>
	                      		Delete project
	                      	</a>
	                      </li>
	                    </ul>
	                  </li>
	                  <li class="pull-right">
	                  	<a href="#" class="btn btn-primary toggle-edit">
	                  		<i class="glyphicon glyphicon-edit"></i> Edit
	                  	</a>
	                  </li>
	                </ul>
	                <div class="tab-content">
	                  <div class="tab-pane" id="tab_1">
	                    <div class="sunburst projects-sunburst"></div>
	                  </div><!-- /.tab-pane -->
	                  <div class="tab-pane active" id="tab_2">
	                  	<div class="details-view">
		                  	<div class="row">
		                  		<div class="col-sm-6 col-md-4">Key</div>
		                  		<div class="col-sm-6 col-md-8">Add_KPI</div>
		                  	</div>
		                  	<div class="row">
		                  		<div class="col-sm-6 col-md-4">Name</div>
		                  		<div class="col-sm-6 col-md-8">Add a KPI</div>
		                  	</div>
		                  	<div class="row">
		                  		<div class="col-sm-6 col-md-4">Description</div>
		                  		<div class="col-sm-6 col-md-8">u autem, Fanni, quod mihi tantum tribui dicis quantum ego nec adgnosco nec postulo, facis amice; sed, ut mihi videris, non recte iudicas de Catone; aut enim nemo, quod quidem magis credo, aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.
	
	Equitis Romani autem esse filium criminis loco poni ab accusatoribus neque his iudicantibus oportuit neque defendentibus nobis. Nam quod de pietate dixistis, est quidem ista nostra existimatio, sed iudicium certe parentis; quid nos opinemur, audietis ex iuratis; quid parentes sentiant, lacrimae matris incredibilisque maeror, squalor patris et haec praesens maestitia, quam cernitis, luctusque declarat.
	
	Accedat huc suavitas quaedam oportet sermonum atque morum, haudquaquam mediocre condimentum amicitiae. Tristitia autem et in omni re severitas habet illa quidem gravitatem, sed amicitia remissior esse debet et liberior et dulcior et ad omnem comitatem facilitatemque proclivior.
	
	Procedente igitur mox tempore cum adventicium nihil inveniretur, relicta ora maritima in Lycaoniam adnexam Isauriae se contulerunt ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.
	
	Dum haec in oriente aguntur, Arelate hiemem agens Constantius post theatralis ludos atque circenses ambitioso editos apparatu diem sextum idus Octobres, qui imperii eius annum tricensimum terminabat, insolentiae pondera gravius librans, siquid dubium deferebatur aut falsum, pro liquido accipiens et conperto, inter alia excarnificatum Gerontium Magnentianae comitem partis exulari maerore multavit.
	
	In his tractibus navigerum nusquam visitur flumen sed in locis plurimis aquae suapte natura calentes emergunt ad usus aptae multiplicium medelarum. verum has quoque regiones pari sorte Pompeius Iudaeis domitis et Hierosolymis captis in provinciae speciem delata iuris dictione formavit.
	
	Non ergo erunt homines deliciis diffluentes audiendi, si quando de amicitia, quam nec usu nec ratione habent cognitam, disputabunt. Nam quis est, pro deorum fidem atque hominum! qui velit, ut neque diligat quemquam nec ipse ab ullo diligatur, circumfluere omnibus copiis atque in omnium rerum abundantia vivere? Haec enim est tyrannorum vita nimirum, in qua nulla fides, nulla caritas, nulla stabilis benevolentiae potest esse fiducia, omnia semper suspecta atque sollicita, nullus locus amicitiae.
	
	Eodem tempore Serenianus ex duce, cuius ignavia populatam in Phoenice Celsen ante rettulimus, pulsatae maiestatis imperii reus iure postulatus ac lege, incertum qua potuit suffragatione absolvi, aperte convictus familiarem suum cum pileo, quo caput operiebat, incantato vetitis artibus ad templum misisse fatidicum, quaeritatum expresse an ei firmum portenderetur imperium, ut cupiebat, et cunctum.
	
	At nunc si ad aliquem bene nummatum tumentemque ideo honestus advena salutatum introieris, primitus tamquam exoptatus suscipieris et interrogatus multa coactusque mentiri, miraberis numquam antea visus summatem virum tenuem te sic enixius observantem, ut paeniteat ob haec bona tamquam praecipua non vidisse ante decennium Romam.
	
	Montius nos tumore inusitato quodam et novo ut rebellis et maiestati recalcitrantes Augustae per haec quae strepit incusat iratus nimirum quod contumacem praefectum, quid rerum ordo postulat ignorare dissimulantem formidine tenus iusserim custodiri.</div>
		                  	</div>
		                </div>
	                  	<form class="project-form" style="display:none;">
		                    <div class="input-group">
			                    <span class="input-group-addon">Key</span>
			                    <input name="key" type="text" class="form-control" placeholder="Key"/>
			                </div>
			                <div class="input-group">
			                    <span class="input-group-addon">Name</span>
			                    <input name="name" type="text" class="form-control" placeholder="Name"/>
			                </div>
		                	<textarea class="textarea" placeholder="Description"></textarea>
		                	<div class="box-footer">
		                  		<button type="submit" class="btn btn-primary">Save</button>
	                  		</div>
	                  	</form>
	                  </div><!-- /.tab-pane -->
	                </div><!-- /.tab-content -->
	              </div><!-- nav-tabs-custom -->
				</div>
			</div>
		</div>
		<!--/row-->
		
	</div>
	
	<div layout:fragment="footer">
  		<script type="text/javascript" src="../../static/js/modules/portfolio.js" th:src="@{/js/modules/portfolio.js}" />
 	</div>
	
</body>
</html>