<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
>
<body>
	
	<div layout:fragment="content">
	
		<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <h1>
	        Portfolio
	        <small>Control panel</small>
	      </h1>
	      <ol class="breadcrumb">
	        <li><a href="#"><i class="glyphicon glyphicon-book"></i> Portfolio</a></li>
	        <li class="active">Portfolio</li>
	      </ol> 
	    </section>


		<!-- Main -->
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="panel panel-primary">
<!-- 						<div class="panel-heading"> -->
<!-- 							<h4>Favorite products</h4> -->
<!-- 						</div> -->
						<div>
							<div class="projects-tree-view"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-8">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4>Projects</h4>
						</div>
						<div>
							<div class="projects-sunburst"></div>
						</div>
<!-- 						<div class="panel-footer"> -->
<!-- 							<button type="button" class="btn btn-default">View Campaigns</button> -->
<!-- 						</div> -->
					</div>
				</div>
			</div>
		</div>
		<!--/row-->
		
	</div>
</body>
</html>