<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<body>
	<div layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
		<ol class="breadcrumb">
			<li><a href="/ui/portfolio/manager"><i class="glyphicon glyphicon-book" /> Portfolio Manager</a></li>
			<li class="active" th:if="${project != null}" th:text="${project.name}" />
		</ol>
		</section>
		<!-- Main -->
		<div class="content">
			<div
				th:replace="modal :: helpbox('
				From this panel, you can navigate through your projects, create new projects, edit a project\'s information.')" />
				
			<div class="row">
				<div class="col-sm-10 col-md-8">
					<div class="box box-default treeview-box resizable">
						<div class="box-heading tab-header" th:if="${project != null}">
							<img th:if="${project.image != null}" th:src="${project.image}" style="height: 56px;" src="" alt="" />
							<h2 th:text="${project.name}">#Project-Name</h2>
							<div class="properties">
								<a href="#" class="entity-key"> <i class="fa fa-key" /> <span th:text="${project.key}">#ProjectKey</span>
								</a>
							</div>
							<br style="clear: both;" />
						</div>
						<div class="box-heading tab-header" th:if="${project == null}">
							<h2>Portfolio</h2>
							<br style="clear: both;" />
						</div>
						<div class="box-body">
							<div>
								<ul class="wysihtml5-toolbar" style="margin: 5px;">
									<li class="dropdown"><a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Add <b
											class="caret" />
									</a>
										<ul class="dropdown-menu">
											<li th:each="folderNodeType : ${folderNodeTypes}"><a href="#"
												th:attr="onclick='jsTreeManager.addFolder(\''+${folderNodeType.id}+'\', null)'"> <img
													th:src="${folderNodeType.icon}" src="" alt="" /> <span th:text="${folderNodeType.name}" />
											</a></li>
										</ul></li>
									<li>
										<a href="#" class="btn btn-default" data-toggle="modal" data-target="#modal-portoflio-tree-filter" title="Filter"> 
											<span class="glyphicon glyphicon-filter" />
										</a>
									</li>
									<li>
										<a href="#" class="btn btn-default" onclick="clearFilters()" data-toggle="tooltip" title="Clear filters"> 
											<span class="fa fa-undo" />
										</a>
									</li>
									<li>
										<a href="#" class="btn btn-default" onclick="jsTreeManager.expand()" data-toggle="tooltip" title="Expand"> 
											<span class="fa fa-expand" />
										</a>
									</li>
									<li>
										<a href="#" class="btn btn-default" onclick="jsTreeManager.collapse()" data-toggle="tooltip" title="Collapse"> 
											<span class="fa fa-compress" />
										</a>
									</li>
									<li>
										<a href="/ui/portfolio" class="btn btn-default" data-toggle="tooltip" title="Portfolio"> 
											<span class="glyphicon glyphicon-th" />	
										</a>
									</li>
									<li style="width: 45%;">
										<div class="input-group">
											<span class="input-group-addon"> <i class="glyphicon glyphicon-search" />
											</span> <input class="form-control tree-search" type="text" placeholder="Search" style="width: 100%;" />
										</div>
									</li>
								</ul>
							</div>
							<div class="projects-tree-view" />
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-4">			
					<div class="box box-success" style="margin-bottom: 20px;" th:if="${project != null}">
						<div class="box-header">
							<h3 class="box-title">Actions</h3>
						</div>
						<div class="box-body">
							<a th:href="@{/ui/projects/}+${project.key}" class="btn btn-app"> 
								<span class="glyphicon glyphicon-edit"></span> Details
							</a>							
							<a th:href="@{/ui/requirements/}+${project.key}" class="btn btn-app">
								<span class="glyphicon glyphicon-duplicate"></span> Requirements
							</a>
							<a th:href="@{/ui/tests/}+${project.key}" href="#" class="btn btn-app"> 
								<span class="fa fa-flask"></span> Test Cases
							</a>
							<a th:href="@{/ui/campaigns/}+${project.key}" href="#" class="btn btn-app"> 
								<span class="glyphicon glyphicon-ok"></span> Test Campaigns
							</a>
							<a th:href="@{/ui/releases/}+${project.key}" href="#" class="btn btn-app"> 
								<span class="glyphicon glyphicon-tags"></span> Releases
							</a>
							<a th:href="@{/ui/projects/}+${project.key}+@{#branches}" href="#" class="btn btn-app"> 
								<span class="fa fa-share-alt"></span> Branches
							</a>
							<a th:href="@{/ui/projects/}+${project.key}+@{#activity}" href="#" class="btn btn-app"> 
								<span class="fa fa-history"></span> Activity
							</a>	
							<a class="btn btn-app" href="/ui/requirements/corolla/Master">
								<span class="fa fa-location-arrow"></span> Export PDF
							</a>						
							<a href="#" class="projectDelete btn btn-app"> 
								<span class="fa fa-trash"></span> Delete
							</a>						
						</div>
					</div>
					<form class="project-form" th:object="${newProject}" method="post" th:action="@{/ui/portfolio/manager/create}">
						<div class="box box-primary">					
							<div class="box-header">
								<h3 class="box-title">Create new project</h3>
							</div>
							<div class="box-body">
								
									<div class="row form-row">
										<input type="hidden" name="parentID" class="selected-node-ID" th:value="${newProject.parentID}" />
								       <div class="col-sm-3 col-md-2">
								       	<span>Parent</span>
								       </div>			
					   					<div class="col-sm-9 col-md-10">
								       		<span class="selected-node-text"></span>
								       </div>
								     </div>
									<div class="row form-row">
								       <div class="col-sm-3 col-md-2">
								       	<span class="">Key</span>
								       </div>			
					   					<div class="col-sm-9 col-md-10">
								       		<input name="key" type="text" class="form-control" placeholder="Key" th:value="${newProject.key}"/>
								       		<span th:if="${#fields.hasErrors('key')}" th:errors="*{key}"></span>
								       </div>
								     </div>
									<div class="row form-row">
								       <div class="col-sm-3 col-md-2">
								       	<span class="">Name</span>
								       </div>						       
								       <div class="col-sm-9 col-md-10">
								       		<input name="name" type="text" class="form-control" placeholder="Name" th:value="${newProject.name}"/>
								       		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
								       </div>
								   </div>	
							</div>
							<div class="box-footer">
				    			<button type="submit" class="btn btn-primary pull-right">Save</button>
				   			</div>
						</div>
					</form>
					<!-- Change Project Modal -->
					<div id="modal-portoflio-tree-filter" class="modal">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title">Filters</h4>
								</div>
								<div class="modal-body">
									<div class="row form-row">
								       <div class="col-sm-3 col-md-2">
								       	<span class="">Category</span>
								       </div>
								       <div class="col-sm-9 col-md-10">
								       		<select class="select2" multiple="multiple" id="filter_categoryId" style="width: 80%;">
									       		<option value=""></option>
									       	</select>
								       </div>
								   </div>
								   <div class="row form-row">
								       <div class="col-sm-3 col-md-2">
								       	<span class="">Status</span>
								       </div>
								       <div class="col-sm-9 col-md-10">
								       		<select class="select2" multiple="multiple" id="filter_statusId" style="width: 80%;">
									       		<option value=""></option>
									       	</select>
								       </div>
								   </div>
								   <div class="row form-row">
								       <div class="col-sm-3 col-md-2">
								       	<span class="">Owner</span>
								       </div>
								       <div class="col-sm-9 col-md-10">
								       		<select class="select2" multiple="multiple" id="filter_ownerId" style="width: 80%;">
									       		<option value=""></option>
									       	</select>
								       </div>
								   </div>
								   <div class="row form-row">
								       <div class="col-sm-3 col-md-2">
								       	<span class="">Tags</span>
								       </div>
								       <div class="col-sm-9 col-md-10">
								       		<select class="select2" multiple="multiple" id="filter_tags" style="width: 80%;">
									       	</select>
								       </div>
								   </div>
								</div>
								<div class="modal-footer">
									<a type="button" class="btn btn-primary" onclick="filterTree()">Apply</a>
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
								<!--/modal-footer-collapse -->
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.modal -->
				</div>
			</div>
		</div>
		<!--/row-->
	</div>
	<div layout:fragment="footer">
		<script type="text/javascript" th:src="@{/js/modules/jstree-utils.js}" src="../static/js/modules/jstree-utils.js" />
		<script type="text/javascript" src="../../static/js/modules/portfolio.js" th:src="@{/js/modules/portfolio-manager.js}" />
		<script type="text/javascript">
			$(document).ready(function() {
				tabRooting();
				initPortfolio();
			});
		</script>
	</div>
</body>
</html>