<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<body>
	<div layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<ol class="breadcrumb">
				<li class="active"><a href="#"><i class="glyphicon glyphicon-book" /> Portfolio</a></li>
			</ol>
		</section>
		<!-- Main -->
		<div class="content">
			<div th:replace="modal :: helpbox('
				From this panel, you can quickly open a project to manage its requirements, 
				test cases or test campaigns. You can use the search bar below to look up for a 
				specific project or you can click on a tag to display all associated projects. To manage the projects(create, delete, etc...), please go to \'Portfolio Management\' from sidebar menu.')"></div>
			<br style="clear: both;"/>
			<div class="tiles-container row">
				<div class="toolbar col-sm-2 col-md-1">
					<span class="label label-info active" data-filter="*">All</span> 
					<span th:each="tag : ${tags}" th:text="${tag}" class="label label-info"></span>
				</div>
				<div class="col-sm-10 col-md-11">
					<form class="search-bar" action="">
						<div class="input-group">
							<input id="query" type="text" class="form-control" placeholder="Search..." /> <span class="input-group-btn">
								<button type="submit" name="search" id="search-iso-btn" class="btn">
									<i class="fa fa-search" />
								</button>
							</span>
						</div>
					</form>
					<div class="isotope">
						<div th:each="project : ${projects}" 
								class="element-item metalloid" 
								th:attr="data-url='/ui/requirements/'+${project.key}"
								th:attrappend="data-tags=${#strings.setJoin(project.tags, ' ')}">
							<h3 class="name" th:text="${project.name}">Name</h3>
							<p class="symbol">KD</p>
						</div>
<!-- 						<div class="element-item metalloid" data-tags="komea dashboard java" data-url="/ui/requirements/komea-rest-api"> -->
<!-- 							<h3 class="name">Komea Dashboard</h3> -->
<!-- 							<p class="symbol">KD</p> -->
<!-- 						</div> -->
<!-- 						<div class="element-item metalloid " data-tags="komea rest api java" data-url="/ui/requirements/komea-rest-api"> -->
<!-- 							<h3 class="name">Komea Rest API</h3> -->
<!-- 							<img src="http://lorempixel.com/256/256/" alt="" /> -->
<!-- 						</div> -->
<!-- 						<div class="element-item metalloid " data-tags="komea redmine java" data-url="/ui/requirements/komea-rest-api"> -->
<!-- 							<h3 class="name">Komea - Plugin Redmine</h3> -->
<!-- 							<img src="http://lorempixel.com/256/256/" alt="" /> -->
<!-- 						</div> -->
<!-- 						<div class="element-item metalloid " data-tags="komea bugzilla plugin" data-url="/ui/requirements/komea-rest-api"> -->
<!-- 							<h3 class="name">Komea - Plugin Bugzilla</h3> -->
<!-- 							<img src="http://lorempixel.com/256/256/" alt="" /> -->
<!-- 						</div> -->
<!-- 						<div class="element-item metal" data-tags="corolla java" data-url="/ui/requirements/komea-rest-api"> -->
<!-- 							<h3 class="name">Corolla</h3> -->
<!-- 							<img src="http://lorempixel.com/256/256/" alt="" /> -->
<!-- 						</div> -->
<!-- 						<div class="element-item metal" data-tags="corolla java" data-url="/ui/requirements/komea-rest-api"> -->
<!-- 							<h3 class="name">Corolla - Plugin Redmine</h3> -->
<!-- 							<img src="http://lorempixel.com/256/256/" alt="" /> -->
<!-- 						</div> -->
<!-- 						<div class="element-item alkaline-earth" data-tags="plugin redmine" data-url="/ui/requirements/komea-rest-api"> -->
<!-- 							<h3 class="name">Audit Assistant</h3> -->
<!-- 							<img src="http://lorempixel.com/256/256/" alt="" /> -->
<!-- 						</div> -->
<!-- 						<div class="element-item alkali" data-url="/ui/requirements/komea-rest-api"> -->
<!-- 							<h3 class="name">Cobos</h3> -->
<!-- 							<p class="symbol">CB</p> -->
<!-- 						</div> -->
<!-- 						<div class="element-item transition" data-url="/ui/requirements/komea-rest-api"> -->
<!-- 							<h3 class="name">Mainframe Integrator</h3> -->
<!-- 							<p class="symbol">MI</p> -->
<!-- 						</div> -->
<!-- 						<div class="element-item noble-gas" data-tags="java" data-url="/ui/requirements/komea-rest-api"> -->
<!-- 							<h3 class="name">Coffee Machine</h3> -->
<!-- 							<p class="symbol">CM</p> -->
<!-- 						</div> -->
<!-- 						<div class="element-item noble-gas" data-tags="rest api java" data-url="/ui/requirements/komea-rest-api"> -->
<!-- 							<h3 class="name">Coffee Machine - Rest API</h3> -->
<!-- 							<p class="symbol">CM</p> -->
<!-- 						</div> -->
<!-- 						<div class="element-item noble-gas" data-tags="plugin java" data-url="/ui/requirements/komea-rest-api"> -->
<!-- 							<h3 class="name">Coffee Machine - Plugin Redmine</h3> -->
<!-- 							<p class="symbol">CM</p> -->
<!-- 						</div> -->
<!-- 						<div class="element-item noble-gas" data-tags="plugin java" data-url="/ui/requirements/komea-rest-api"> -->
<!-- 							<h3 class="name">Coffee Machine - Plugin JIRA</h3> -->
<!-- 							<p class="symbol">CM</p> -->
<!-- 						</div> -->
<!-- 						<div class="element-item noble-gas" data-tags="plugin java" data-url="/ui/requirements/komea-rest-api"> -->
<!-- 							<h3 class="name">Coffee Machine - Plugin Jenkins</h3> -->
<!-- 							<p class="symbol">CM</p> -->
<!-- 						</div> -->
					</div>
				</div>
				<br style="clear: both;" />
			</div>
		</div>
	</div>
	<div layout:fragment="footer">
		<script type="text/javascript" src="../../static/resources/isotope/isotope.pkgd.min.js"
			th:src="@{/resources/isotope/isotope.pkgd.min.js}" />
		<script type="text/javascript" src="../../static/js/modules/portfolio.js" th:src="@{/js/modules/portfolio.js}" />
		<script type="text/javascript">
			$(document).ready(initTiles());
		</script>
	</div>
</body>
</html>