<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:wicket="http://wicket.apache.org">
<body>

    <!-- Main -->
    <div class="container">
        <wicket:extend>
            <!-- content -->
            <div class="row">

                <!-- main col left -->
                <div class="col-sm-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Actions</h4>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="admin/users"
                                    class="list-group-item" wicket:id="userAdminLink">Manage Users</a> <a
                                    href="http://bootply.com/tagged/datetime"
                                    class="list-group-item" wicket:id="roleAdminLink">Manage Roles</a> <a
                                    href="http://bootply.com/tagged/datatable"
                                    class="list-group-item">Configure Corolla</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </wicket:extend>
    </div>
    <!--/row-->
</body>


</html>